@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 280px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.9375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__burger {
  height: 100%;
}

.burger__list a {
  position: relative;
  padding: 5px 10px;
}

.burger__list a:active {
  background-color: #FF005C;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #ffffff;
}

.burger {
  height: 100%;
}

.burger__menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger__body {
  height: 100%;
}

.burger__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.burger__list :not(:last-child) {
  margin-right: 20px;
}

.burger__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._active-burger {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  padding: 24px 15px;
}

.tel-hidden {
  display: none;
}

._active-burger-icon .burger__object {
  width: 0px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

._active-burger-icon .burger__object::after {
  display: block;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  top: 50%;
  left: 10px;
  width: 50px;
}

._active-burger-icon .burger__object::before {
  display: block;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  top: 50%;
  left: 10px;
  width: 50px;
}

._active-burger-body .burger__list {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 80px;
  left: 0;
  font-size: 500;
  font-size: 50px;
  transition: 0.3s;
}

/*//////////////////////////////////////////////////////////////////////*/

.header {
  padding: 24px 0px 24px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.logo-link {
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height */
  color: #000000;
}

.logo-pink {
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height */
  color: #FF005C;
}

.tel {
  padding-left: 34px;
  background: url("../img/header/icon/tel.svg") no-repeat;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #000000;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.tel:hover {
  -webkit-animation-name: tel-hover;
          animation-name: tel-hover;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes tel-hover {
  100% {
    background: url("../img/header/icon/tel-green.svg") no-repeat;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
  }
}

@keyframes tel-hover {
  100% {
    background: url("../img/header/icon/tel-green.svg") no-repeat;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
  }
}

.tel-hidden {
  display: none;
}

.tel-hidden:active {
  display: none;
}

/*////////////////////////////////////////////////////////////////////////////*/

.wrapper {
  height: 100%;
}

.main__phones {
  padding: 45px 0;
}

.button {
  background: #FF005C;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 133, 255, 0.25);
          box-shadow: 0px 0px 30px rgba(0, 133, 255, 0.25);
  display: inline-block;
  padding: 16px 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.parallax {
  width: 100%;
  height: 475px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.parallax__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 466px;
}

.parallax__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 40px;
}

.parallax__paragraf {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #000000;
}

.parallax__button {
  margin-top: 40px;
}

.parallax__objects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-webp .parallax__object-one{
  background: url("../img/main/fix-tell/iphones.png"); }

.parallax__object-one {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 504px;
  height: 447px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.no-webp .parallax__object-two{
  background: url("../img/main/fix-tell/androids.png"); }

.parallax__object-two {
  position: absolute;
  left: 0px;
  bottom: 0;
  z-index: 2;
  width: 353px;
  height: 475px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.no-webp .parallax__blot-one{
  background: url("../img/main/fix-tell/texture-1.png") no-repeat; }

.parallax__blot-one {
  position: absolute;
  right: 400px;
  bottom: -150px;
  z-index: 1;
  width: 430px;
  height: 430px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.no-webp .parallax__blot-two{
  background: url("../img/main/fix-tell/texture-2.png") no-repeat; }

.parallax__blot-two {
  position: absolute;
  right: -120px;
  bottom: 150px;
  z-index: 1;
  width: 430px;
  height: 389px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

@media (min-width: 61.99875em) {
  .burger__list a:hover {
    -webkit-animation-name: a-hover-text;
            animation-name: a-hover-text;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

  .burger__list a:hover::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    -webkit-animation-name: b-hover;
            animation-name: b-hover;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

@-webkit-keyframes b-hover {
    20% {
      background-color: #dd3a76;
    }

    100% {
      width: 100%;
      background-color: #FF005C;
      -webkit-box-shadow: 0 0 1px rgb(177, 0, 139);
              box-shadow: 0 0 1px rgb(177, 0, 139);
    }
}

@keyframes b-hover {
    20% {
      background-color: #dd3a76;
    }

    100% {
      width: 100%;
      background-color: #FF005C;
      -webkit-box-shadow: 0 0 1px rgb(177, 0, 139);
              box-shadow: 0 0 1px rgb(177, 0, 139);
    }
}

@-webkit-keyframes a-hover-text {
    100% {
      color: #ffffff;
    }
}

@keyframes a-hover-text {
    100% {
      color: #ffffff;
    }
}

  .burger__list a:hover::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ffffff;
    -webkit-animation-name: a-hover;
            animation-name: a-hover;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

@-webkit-keyframes a-hover {
    20% {
      background-color: #dd3a76;
    }

    100% {
      width: 100%;
      height: 100%;
      color: #ffffff;
      background-color: #FF005C;
      -webkit-box-shadow: 0 0 1px rgb(177, 0, 139);
              box-shadow: 0 0 1px rgb(177, 0, 139);
    }
}

@keyframes a-hover {
    20% {
      background-color: #dd3a76;
    }

    100% {
      width: 100%;
      height: 100%;
      color: #ffffff;
      background-color: #FF005C;
      -webkit-box-shadow: 0 0 1px rgb(177, 0, 139);
              box-shadow: 0 0 1px rgb(177, 0, 139);
    }
}
}

@media (min-width: 61.99875em) and (min-width: 47.99875em) {
  .burger__list a:hover::after::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ffffff;
    -webkit-animation-name: a-hover;
            animation-name: a-hover;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

@-webkit-keyframes a-hover {
    20% {
      background-color: #dd3a76;
    }

    100% {
      width: 100%;
      height: 100%;
      color: #ffffff;
      background-color: #FF005C;
      -webkit-box-shadow: 0 0 1px rgb(177, 0, 139);
              box-shadow: 0 0 1px rgb(177, 0, 139);
    }
}

@keyframes a-hover {
    20% {
      background-color: #dd3a76;
    }

    100% {
      width: 100%;
      height: 100%;
      color: #ffffff;
      background-color: #FF005C;
      -webkit-box-shadow: 0 0 1px rgb(177, 0, 139);
              box-shadow: 0 0 1px rgb(177, 0, 139);
    }
}
}

@media (max-width: 1160px) {
  .parallax__object-two {
    left: 50%;
    margin-left: -172px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .parallax__blot-one {
    right: 250px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
}

@media (max-width: 1001px) {
  .parallax__text-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .parallax__objects {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
  }

  .parallax__object-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    left: 50%;
    margin-left: -253px;
  }

  .parallax__object-two {
    left: 0px;
    margin-left: 0px;
    display: none;
  }

  .parallax__blot-one {
    left: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .parallax__blot-two {
    right: 0px;
    bottom: 100px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
}

@media (max-width: 375px) {
  .no-webp .parallax__object-one{
    background: url("../img/main/fix-tell/iphones.png") center center no-repeat; }
  .parallax__object-one {
    width: 334px;
    height: 377px;
    background-size: contain;
    margin-left: -167px;
  }
}

@media (max-width: 326px) {
  .no-webp .parallax__object-one{
    background: url("../img/main/fix-tell/iphones.png") center center no-repeat; }
  .parallax__object-one {
    width: 274px;
    height: 327px;
    background-size: contain;
    margin-left: -137px;
  }
}

@media (max-width: 61.99875em) {
  .burger__list a:hover {
    background-color: #FF005C;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    color: #ffffff;
  }

  .burger {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .burger__icon {
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    left: 100%;
    margin-left: -60px;
  }

  .burger__object {
    display: block;
    width: 50px;
    height: 2px;
    background-color: black;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    margin: 0 auto;
  }

  .burger__object::after,
  .burger__object::before {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background-color: black;
  }

  .burger__object::after {
    content: "";
    top: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .burger__object::before {
    content: "";
    bottom: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .burger__list {
    z-index: 999;
    background-color: #ffffff;
  }

  .burger__list {
    gap: 0px;
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 80px;
    left: -100%;
    font-size: 50px;
  }

  .burger__list :not(:last-child) {
    margin-right: 0px;
  }

  .burger__list :first-child ::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 2px;
    background-color: #FF005C;
  }

  .burger__list :last-child ::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 2px;
    background-color: #FF005C;
  }

  .burger__list :not(:last-child) {
    margin-bottom: 15px;
  }

  .burger__list .burger__item:nth-child(1) {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: translate(-20px, 0);
        -ms-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }

  .burger__list .burger__item:nth-child(2) {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: translate(-40px, 0);
        -ms-transform: translate(-40px, 0);
            transform: translate(-40px, 0);
  }

  .burger__list .burger__item:nth-child(3) {
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform: translate(-60px, 0);
        -ms-transform: translate(-60px, 0);
            transform: translate(-60px, 0);
  }

  .burger__list .burger__item:nth-child(4) {
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    -webkit-transform: translate(-80px, 0);
        -ms-transform: translate(-80px, 0);
            transform: translate(-80px, 0);
  }

  .burger__list .burger__item:nth-child(5) {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transform: translate(-100px, 0);
        -ms-transform: translate(-100px, 0);
            transform: translate(-100px, 0);
  }

  .burger__list .burger__item:nth-child(6) {
    -webkit-transition: 1.2s;
    -o-transition: 1.2s;
    transition: 1.2s;
    -webkit-transform: translate(-120px, 0);
        -ms-transform: translate(-120px, 0);
            transform: translate(-120px, 0);
  }

  ._active-burger-body .burger__item:nth-child(1) {
    -webkit-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
            transform: translate(0px, 0);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  ._active-burger-body .burger__item:nth-child(2) {
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }

  ._active-burger-body .burger__item:nth-child(3) {
    -webkit-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
            transform: translate(0px, 0);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
  }

  ._active-burger-body .burger__item:nth-child(4) {
    -webkit-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
            transform: translate(0px, 0);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  ._active-burger-body .burger__item:nth-child(5) {
    -webkit-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
            transform: translate(0px, 0);
    -webkit-transition: 1.2s;
    -o-transition: 1.2s;
    transition: 1.2s;
  }

  ._active-burger-body .burger__item:nth-child(6) {
    -webkit-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
            transform: translate(0px, 0);
    -webkit-transition: 1.4s;
    -o-transition: 1.4s;
    transition: 1.4s;
  }

  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header__tel {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: auto;
    padding-right: 60px;
  }

  .main__phones {
    padding: 25px 0;
  }

  .parallax__title {
    margin-bottom: 25px;
  }

  .parallax__button {
    margin-top: 25px;
  }
}

@media (max-width: 61.99875em) and (max-width: 47.99875em) {
  .burger__icon {
    top: 0px;
    margin-left: -50px;
  }

  .burger__list :last-child ::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 2px;
    background-color: #FF005C;
  }

  .burger__list :not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 47.99875em) {
  .burger__object {
    display: block;
    width: 40px;
    height: 2px;
    background-color: black;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    margin: 0 auto;
  }

  .burger__object::after,
  .burger__object::before {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 2px;
    background-color: black;
  }

  .burger__object::after {
    content: "";
    top: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .burger__object::before {
    content: "";
    bottom: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .burger__link {
    font-size: 30px;
  }

  .tel {
    display: none;
  }

  .tel-hidden {
    display: inline-block;
    font-size: 50px;
  }

  ._active-burger-icon .burger__object::after {
    left: 15px;
    width: 40px;
  }

  ._active-burger-icon .burger__object::before {
    left: 15px;
    width: 40px;
  }

  .tel-hidden {
    background: url("../img/header/icon/tel.svg") no-repeat;
    background-size: cover;
    display: inline-block;
    margin-top: 15px;
    width: 24px;
    height: 24px;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
  }

  .tel-hidden:active {
    background: url("../img/header/icon/tel.svg") no-repeat;
    background-size: cover;
    display: inline-block;
    margin-top: 15px;
    width: 24px;
    height: 24px;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
  }

  .main__phones {
    padding: 15px 0;
  }

  .parallax__title {
    margin-bottom: 15px;
  }

  .no-webp .parallax__object-one{
    background: url("../img/main/fix-tell/iphones.png") center center no-repeat; }

  .parallax__object-one {
    width: 454px;
    height: 397px;
    background-size: contain;
    margin-left: -226px;
  }
}

@media (max-width: 29.99875em) {
  .no-webp .parallax__object-one{
    background: url("../img/main/fix-tell/iphones.png") center center no-repeat; }
  .parallax__object-one {
    width: 404px;
    height: 347px;
    background-size: contain;
    margin-left: -202px;
  }
}

.webp .parallax__object-one{ background: url(../img/main/fix-tell/iphones.webp); }

.webp .parallax__object-two{ background: url(../img/main/fix-tell/androids.webp); }

.webp .parallax__blot-one{ background: url(../img/main/fix-tell/texture-1.webp) no-repeat; }

.webp .parallax__blot-two{ background: url(../img/main/fix-tell/texture-2.webp) no-repeat; }

@media (max-width: 375px){

  .webp .parallax__object-one{ background: url(../img/main/fix-tell/iphones.webp) center center no-repeat; }
}

@media (max-width: 326px){

  .webp .parallax__object-one{ background: url(../img/main/fix-tell/iphones.webp) center center no-repeat; }
}

@media (max-width: 47.99875em){

  .webp .parallax__object-one{ background: url(../img/main/fix-tell/iphones.webp) center center no-repeat; }
}

@media (max-width: 29.99875em){

  .webp .parallax__object-one{ background: url(../img/main/fix-tell/iphones.webp) center center no-repeat; }
}